/docs/
/lib/
/bin/
/.shards/
*.dwarf

# Vendored wgpu sources
vendor/webgpu.h
vendor/wgpu.h
vendor/wgpu/

# Libraries ought not lock dependencies
/shard.lock

# Example Artifacts
/examples/compute
/examples/compute.app
/examples/headless
/examples/headless.app
/examples/red.png
/examples/triangle
/examples/triangle.app
/examples/triangle.png

# Precompiled C headers
# See https://github.com/microsoft/vscode-cpptools/issues/3347
/.vscode/ipch/

# Environment config, see https://direnv.net
.envrc
