/docs/
/lib/
/bin/
/.shards/
*.dwarf

# Vendored wgpu C header
vendor/wgpu.h

# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock

# Precompiled C headers
# See https://github.com/microsoft/vscode-cpptools/issues/3347
/.vscode/ipch/

# Examples' Build Artifacts
/examples/headless
