/docs/
/lib/
/bin/
/.shards/
*.dwarf

# Vendored wgpu sources
vendor/wgpu.h
vendor/wgpu/

# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock

# Precompiled C headers
# See https://github.com/microsoft/vscode-cpptools/issues/3347
/.vscode/ipch/

# Examples' Artifacts
/examples/headless
/examples/red.png
